{% extends 'base.html.twig' %}

{% block title %}Ajout prestation{% endblock %}

{% block body %}
    <div class="container">
        <h1>Ajouter une prestation</h1>

        {{ include('secretaire/prestation/_form.html.twig') }}

        <a href="{{ path('secretaire.prestation') }}" class="btn btn-warning">Retour</a>
    </div>
{% endblock %}
