#forfaitEleve {
    font-weight: bold;
    font-size: 1.2rem;
}

.fc-scrollgrid-sync-inner {
    color: #0F2645;
} 

#searchBar {
    border: solid 2px #0F2645;
    border-radius: 20px;
}

#search {
    background-color: transparent;
    border-radius: 20px;
}

#selecteur {
    border: solid 2px #0F2645;
    border-radius: 20px;
    color: #0F2645;
    width: 100%;
}

/* probable propriété pour modifier l'epaisser des lignes du tableau */
 /* .bordered th {
    border: 10px solid #dee2e6;
  }
  
  .table-bordered td, .table-bordered th {
    border: 10px solid #dee2e6;
    border-top-color: rgb(222, 226, 230);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(222, 226, 230);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(222, 226, 230);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(222, 226, 230);
    border-left-style: solid;
    border-left-width: 1px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
  } */
  
.toggle {
    width: 100%;
}

table, tr, thead, th {
    border-radius: 0px;
}

th:first-child, tr:first-child, thead:first-child, tr:last-child, th:last-child, thead:last-child {
    border-radius: 0px;
}

.borderless > thead > tr > th:first-child {
    border-top-left-radius: 20px;
}

.borderless > thead > tr > th:last-child {
    border-top-right-radius: 20px;
}

input[type="checkbox"] {
    display: none;
}
