<p>Bonjour {{ eleve.prenom }},</p>
<p>
    La journée d'information du {{ po.date|date('d/m/Y') }} à {{ po.heureDebut|date('H:i') }}h à laquelle vous étiez inscrit a été supprimée.
    Nous vous prions de nous en excuser et vous invitons à vous connecter sur <a href='monpermis.fr'>monpermis.fr</a> afin de choisir une nouvelle date.
</p>
<p>
    À bientôt<br>
    CER GARIBALDI<br>
    47 avenue Félix Faure<br>
    69003 LYON<br>
    06 21 76 61 69<br>
    09 83 97 18 18<br>
    cergaribaldi@gmail.com<br>
</p>