<p>Bonjour {{ eleve.prenom }},</p>
<p>
    Vous avez bien été inscrit à la journée d'information du {{ po.date|date('d/m/Y') }}" entre {{ po.heureDebut|date('H:i') }}h et {{ po.heureFin|date('H:i') }}h.
    Elle se déroulera au CER GARIBALDI situé 47 avenue Félix Faure - 69003 LYON.
    L'objectif sera de vous présenter le fonctionnement du permis et de répondre à l'ensemble de vos questions.
    Si vous souhaitez débuter la formation au Code de la Route durant les vacances, vous aurez la possibilité d'effectuer un règlement à l'agence
    (en attendant que le paiement en ligne soit mis en place).
</p>
<p>Enfin, merci de venir avec un masque</p>
<p>
    À bientôt<br>
    CER GARIBALDI<br>
    47 avenue Félix Faure<br>
    69003 LYON<br>
    06 21 76 61 69<br>
    09 83 97 18 18<br>
    cergaribaldi@gmail.com<br>
</p>